<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Free CRM PRO Automation Test Suite">
  <listeners>
    <listener class-name="com.ExtentReport.ExtentreportListener" />
    
  </listeners>
  
    <test name="Free CRM PRO Tests">
        <classes>
            <class name="com.TestCases.HomePageTest" />
            <class name="com.TestCases.FourTest"/> 
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
